<section class="main-container-nosotros">
  <div class="main-container-nosotros-body">

    <h2>Nosotros</h2>
    <p class="descripcion-nostros">
      En Piedra & Suela, diseñamos zapatos que combinan estilo, comodidad y calidad, inspirados en la autenticidad de
      cada paso. Nuestra pasión por el calzado nos lleva a crear colecciones únicas, utilizando técnicas artesanales y
      materiales sostenibles. Creemos en un calzado que no solo se vea bien, sino que también cuide del planeta.
      Caminamos contigo, ofreciendo una experiencia que va más allá de la moda.
    </p>

    <h2 class="title-equipo">Nuestro equipo</h2>
    <p class="descripcion-equipo">
      En Piedra & Suela, diseñamos zapatos que combinan estilo, comodidad y calidad, inspirados en la autenticidad de
      cada paso. Nuestra pasión por el calzado nos lleva a crear colecciones únicas, utilizando técnicas artesanales y
      materiales sostenibles. Creemos en un calzado que no solo se vea bien, sino que también cuide del planeta.
      Caminamos contigo, ofreciendo una experiencia que va más allá de la moda.
    </p>
  </div>
</section>