<section class="main-container-nosotros">

  <img class="main-container-nosotros-image" src="../../../assets/img/equipo/imagen-equipo-1.jpg"
    alt="Imagen de equipo 1">

  <img class="main-container-nosotros-image" src="../../../assets/img/equipo/imagen-equipo-2.jpg"
    alt="Imagen de equipo 2">

  <img class="main-container-nosotros-image" src="../../../assets/img/equipo/imagen-equipo-3.jpg"
    alt="Imagen de equipo 3">

  <img class="main-container-nosotros-image" src="../../../assets/img/equipo/imagen-equipo-4.jpg"
    alt="Imagen de equipo 4">

</section>