.main-container-blog {
  display: flex;
  flex-direction: column;
}

img {
  width: 250px;
}

.noticia {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.container-descripcion {
  margin-left: 15px;
}

.container-descripcion h3 {
  margin: 0;
}

button {
  margin-bottom: 25px;
  height: 40px;
  background: var(--primary-text-color);
  color: var(--backgorund-color);
  font-family: var(--primary-font-family);
}


@media screen and (max-width: 500px) {
  .image {
    display: none;
  }
}