<section class="main-container-home">
  <div class="main-container-home-body">
    <div class="main-container-home-body-title">
      <h1>Piedra <br> & Suela</h1>
      <p>
        En Piedra & Suela, creamos zapatos que combinan calidad, comodidad y estilo. Nuestra pasión por el calzado y
        nuestro compromiso con la innovación y la sostenibilidad nos impulsan a ofrecer productos que se adaptan a cada
        paso de tu vida.
      </p>
    </div>
    <div class="main-container-home-body-image">
      <span class="home-body-image"></span>
    </div>
  </div>

  <i class="fa-solid fa-arrow-down icon-down"></i>

</section>